<style>
body {
	bgcolor:lightgrey;
 	font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
 
}

/* Left column (menu) */
.left {
  flex: 2%;
  padding: 10px 0;
  color: Green;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 80%;
  padding: 15px;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 12px;
  padding: 11px;
  border: 1px solid Green;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  Color: Green;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: white;
  display: block
}

#myMenu li a:hover {
  background-color: white;
color: Black;
}
</style>